In [5]:
import numpy as np 
import pandas as pd 

pd.options.display.max_columns = 20
pd.options.display.max_rows = 20 
pd.options.display.max_colwidth = 80

np.set_printoptions(precision=4, suppress=True)

def add_numbers(a, b):
 """
    Add two numbers together
    Returns
    ------
    the_sum : type of arguments
    """
return a + b

SyntaxError: invalid syntax (2709690360.py, line 21)

###Abel Wanda

In [13]:
amount = 10
rate = 88.46
currency = "Pesos"

result = f"{amount} {currency} is worth US${amount/rate:.2f}"
result

'10 Pesos is worth US$0.11'

In [4]:
sequence = [1,2,3,4,None,5,6,7,None,8,9]
tot = 0

for value in sequence:
    if value is None:
        continue
    tot += value

print(f"The total is {tot}")

The total is 45

In [6]:
for i in range(4):
    for j in range (4):
        if j > i:
            break
        print((i,j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [11]:
x = 256
count = 1
tot = 0

while x > 0:
    if tot > 500:
        break
    tot += x
    count += count
    x = x // 2

print(f"counter = {count-1} and \ntotal = {tot}")

counter = 63 and
total = 504

In [12]:
range(10)

range(0, 10)

In [13]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
seq = [1,2,3,4]

for i in range(len(seq)):
    print(f"Element {i}:{seq[i]}")

Element 0:1
Element 1:2
Element 2:3
Element 3:4